# Vagrant Folders
**/.vagrant/*
*.box

# packer config
**/packer_cache/*
packer/iso/*.iso
packer/virtualbox/*
packer/output/*
packer/output*/*
**/output*/*

# VagrantCloud upload info
**/variables*

# git
.gitconfig

output

.DS_Store
